<%- include("include/head.ejs") %>
<body>
    <h2>This page belongs to @ <%= data.name %></h2>
    <button>follow</button>
    <button>message</button>

    <p>followers : <%= data.followers %></p>
    <p>following : <%= data.following %></p>
    <hr>

    <% for (post of data.posts) { %>
       <img src="<%=post.image%>" alt="Some image"> 
       <p>likes : <%= post.like %> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; comments : <%= post.comments%></p>
    <% } %>
    <script src="/app.js"></script>
</body>
</html>